#about {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text);
}
.about__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1500px;
    padding: 2rem;
}
.about__content__bubble {
    padding: 2rem;
}

#about h1, #about h2, #about h3, #about h4 {
    color: var(--color-text);
}
.about__content p {
padding-top: 1rem;
}