@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-bg: #f5f5f5;
    --color-primary: #F0F0F0;
    --color-secondary: #487CB7;
    --color-secondary-transparent : rgb(72, 124, 183, .8);
    --color-tertiary: #E0210A;
    --color-text: #f5f5f5;
    --color-text-shadow: black;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-text-shadow);
    line-height: 1.7;
}

/* ============== GENERAL STYLES =============== */


h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: var(--color-text-shadow);
}

h1 {
    font-size: 2.5rem;
}
section {
    margin-top: 4rem;
}



.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition); 
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ================ TABLETTE ============ */
@media screen and (max-width: 1023px) {
    .container {
        width: var(--container-width-md);
    }

}

/* ================ DESKTOP ============ */
@media screen and (min-width: 1024px) {
    .container {
        width: var(--container-width-sm);
    }
    section {
        margin-top: 6rem;
    }
}